.canvasContainer {
  --canvas-width: 550px;
  --canvas-height: 320px;

  --transition-time-default: 0.4s;
  --transition-default: all var(--transition-time-default);

  --xmas-green: rgb(0, 135, 62);
  --xmas-red: rgb(228, 10, 45);

  position: relative;
}

.canvasContainer .ecardCanvas {
  width: var(--canvas-width);
  height: var(--canvas-height);

  transition: var(--transition-default);

  outline: var(--xmas-green) 3px solid;

  /* https://www.eggradients.com/category/blue-gradient */
  background-color: #ffffff;
  /* background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%); */
}

.canvasContainer .ecardCanvas.show {
  opacity: 1;
}

.canvasContainer .ecardCanvas.hide {
  opacity: 0.4;
}
